In [ ]:
#PRACTICE

In [43]:

# List of integers
primes = [2, 3, 5, 7]

# We can put other types of things in lists
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# We can even make a list of lists
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]

# A list can contain a mix of different types of variables:
my_favourite_things = [32, 'AI Lab, 100.25']

In [44]:
planets[0]	# 'Mercury'
planets[1]	# 'Venus'
planets[-1]	# 'Neptune'
planets[-2]	# 'Uranus'

# List Slicing

# first three planets
planets[0:3]	# ['Mercury', 'Venus', 'Earth']
planets[:3]	# ['Mercury', 'Venus', 'Earth']

# All the planets from index 3 onward
planets[3:]	# ['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# All the planets except the first and last
planets[1:-1]	# ['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

# The last 3 planets
planets[-3:]	# ['Saturn', 'Uranus', 'Neptune']

['Saturn', 'Uranus', 'Neptune']

In [45]:
# Rename Mars
planets[3] = 'Malacandra'	
# ['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Rename multiple list indexes
planets[:3] = ['Mur', 'Vee', 'Ur']
['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [46]:
len(planets)	# 8

# The planets sorted in alphabetical order
sorted(planets)
# ['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

primes = [2, 3, 5, 7]
sum(primes)	# 17
max(primes)	# 7

# Let’s add Pluto to the planets list
planets.append('Pluto')

# Pop removes and returns the last element of the list
planets.pop()	# ‘Pluto’

# Remove an item from a list given its index instead of its value
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]	# [1, 66.25, 333, 333, 1234.5]

# Remove slices from the list
del a[2:4]	# [1, 66.25, 1234.5]

planets.index('Earth')	# 2

# Is Earth a planet?
"Earth" in planets	# True

# Is Pluto a planet?
"Pluto" in planets	# False (We removed it remember)

# Finally to find all the methods associated with Python list object
help(planets)

ValueError: ignored

In [47]:
# With list comprehension
squares = [n**2 for n in range(10)]	# [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Without list comprehension
squares = []
for n in range(10):
    squares.append(n**2)

# [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# List comprehensions are great of filtering and transformations
short_planets = [planet for planet in planets if len(planet) < 6]
# ['Venus', 'Earth', 'Mars']

[
    planet.upper() + '!' 
    for planet in planets 
    if len(planet) < 6
]
# ['VENUS!', 'EARTH!', 'MARS!']

# One line solution
def count_negatives(nums):
    # False + True + True + False + False equals to 2.
    # return len([num for num in nums if num < 0])
    return sum([num < 0 for num in nums])

count_negatives([5, -1, -2, 0, 3])

2

In [53]:
t = (1, 2, 3)
t = 1, 2, 3	# equivalent to above
# t[0] = 100	# TypeError: 'tuple' object does not support item assignment

# Classic Python Swapping Trick
a = 1
b = 0
a, b = b, a	# 0 1

In [49]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)	# 2

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)	# 3

In [55]:
MLB_team = {
     'Colorado' : 'Rockies',
     'Boston'   : 'Red Sox',
     'Minnesota': 'Twins',
     'Milwaukee': 'Brewers',
     'Seattle'  : 'Mariners'
}
# Can also be defined as:
MLB_team = dict([
     ('Colorado', 'Rockies'),
     ('Boston', 'Red Sox'),
     ('Minnesota', 'Twins'),
     ('Milwaukee', 'Brewers'),
     ('Seattle', 'Mariners')
])
# Another way
tel = dict(sape=4139, guido=4127, jack=4098)

# dict comprehensions can be used to create dictionaries from arbitrary key and value expression
{x: x**2 for x in (2, 4, 6)}	# {2: 4, 4: 16, 6: 36}

# Building a dictionary incrementally – if you don’t know all the key-value pairs in advance
person = {}
person['fname'] = 'Joe'
person['lname'] = 'Fonebone'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}
# {'fname': 'Joe', 'lname': 'Fonebone', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

# Retrieve a value
MLB_team['Minnesota']	# 'Twins'

# Add a new entry
MLB_team['Kansas City'] = 'Royals'

# Update an entry
MLB_team['Seattle'] = 'Seahawks'

In [56]:
hash = {}
hash['word'] = 'garfield'
hash['count'] = 42
s = 'I want %(count)d copies of %(word)s' % hash  # %d for int, %s for string
# 'I want 42 copies of garfield'

In [57]:
# Let’s use this dict for to demonstrate dictionary functions
d = {'a': 10, 'b': 20, 'c': 30}

# Clears a dictionary.
d.clear()	# {}

# Returns the value for a key if it exists in the dictionary.
print(d.get('b'))	# 20

# Removes a key from a dictionary, if it is present, and returns its value.
d.pop('b')	# 20

# Returns a list of key-value pairs in a dictionary.
list(d.items())	# [('a', 10), ('b', 20), ('c', 30)]
list(d.items())[1][0]	# 'b'
list(d.items())[1][1]	# 20

# Returns a list of keys in a dictionary.
list(d.keys())	# ['a', 'b', 'c']

# Returns a list of values in a dictionary.
list(d.values())	# [10, 20, 30]

# Removes the last key-value pair from a dictionary.
d.popitem()	# ('c', 30)

# Merges a dictionary with another dictionary or with an iterable of key-value pairs.
d2 = {'b': 200, 'd': 400}
d.update(d2)	# {'a': 10, 'b': 200, 'c': 30, 'd': 400}

None

KeyError: ignored

In [ ]:
# EXERCISES

In [5]:
def chickens(count):
  if count>=10:
    return "Number of chickens: many"
  return "Number of chickens: " + str(count)
chickens(3)

'Number of chickens: 3'

In [6]:
def getEnds(s):
  newS=""
  if len(s)<3:
    return newS
  newS+=s[:3]
  newS+=s[-3:]
  return newS
getEnds('intelligence')

'intnce'

In [15]:
def replaceNew(s):
  stra=s[0]
  strb="@"
  s=s.replace(stra, strb)
  if stra.islower():
    s=s.replace(stra.upper(), strb)
  else:
    s=s.replace(stra.lower(), strb)
  s = list(s)
  s[0]=stra
  s = "".join(s)
  return s
replaceNew("Ooogle")

'O@@gle'

In [32]:
def jumble(a,b):
  s=a[0:2]
  s=list(s)
  a=list(a)
  b=list(b)
  a[0]=b[0]
  a[1]=b[1]
  b[0]=s[0]
  b[1]=s[1]
  a="".join(a)
  b="".join(b)
  s=a + " " + b 
  return s
jumble('dog', 'dinner')

'dig donner'

In [40]:
def matchingEnds(l):
  matches=0
  for i in l:
      if (len(i)>1):
        if i[0]==i[-1]:
          matches+=1
  print("the count of the number of strings whose first and last chars of the string are the same is " + str(matches))
matchingEnds(["strings", "mom", "funny", "dad"])

the count of the number of strings whose first and last chars of the string are the same is 3

In [36]:
def sortStrings(l):
  return sorted(l)
sorted(["mix", "xyz", "apple", "xanadu", "aardvark"])

['aardvark', 'apple', 'mix', 'xanadu', 'xyz']

In [38]:
def last(n): 
  return n[-1]
def sortTuples(t):
  return sorted(t, key=last)
sortTuples([(1, 7), (1, 3), (3, 4, 5), (2, 2)])

[(2, 2), (1, 3), (3, 4, 5), (1, 7)]