In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [ ]:
df = pd.read_csv('diabetic_data.csv')
df

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [ ]:
def data_normalization(item) -> np.int8:
  if item == '?':
      return None
  else:
      return item

label = df['readmitted']

df=df.drop(['encounter_id', 'weight', 'patient_nbr', 'discharge_disposition_id', 'admission_source_id',
                        'payer_code', 'number_outpatient', 'number_emergency', 'number_inpatient', 'medical_specialty', 'readmitted'], axis=1)

NUMERIC_COLUMNS = [ 'time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_diagnoses']
# remove numeric columns
df=df.drop(columns=NUMERIC_COLUMNS)
# DATA PREPROCESSING

# label encoding
for col in df.columns:
    # if df.dtypes[col] == "object":
    #     df[col] = df[col].fillna("NA")
    # else:
    #     df[col] = df[col].fillna(0)
    df[col] = LabelEncoder().fit_transform(df[col])
df = df.applymap(lambda item: data_normalization(item))
df = df.dropna()
# df.head()
# making all variables categorical
for col in df.columns:
    df[col] = df[col].astype('category')

df

,race,gender,age,admission_type_id,diag_1,diag_2,diag_3,max_glu_serum,A1Cresult,metformin,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed
0,3,0,0,5,124,650,670,2,2,1,...,0,0,1,1,0,0,0,0,1,0
1,3,0,1,0,143,79,121,2,2,1,...,0,0,3,1,0,0,0,0,0,1
2,1,0,2,0,454,78,767,2,2,1,...,0,0,1,1,0,0,0,0,1,1
3,3,1,3,0,554,97,248,2,2,1,...,0,0,3,1,0,0,0,0,0,1
4,3,1,4,0,54,24,86,2,2,1,...,0,0,2,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,1,1,7,0,102,148,295,2,1,2,...,0,0,0,1,0,0,0,0,0,1
101762,1,0,8,0,381,133,536,2,2,1,...,0,0,2,1,0,0,0,0,1,1
101763,3,1,7,0,236,389,159,2,2,2,...,0,0,0,1,0,0,0,0,0,1
101764,3,0,8,1,693,142,668,2,2,1,...,0,0,3,1,0,0,0,0,0,1
101765,3,1,7,0,360,345,536,2,2,1,...,0,0,1,1,0,0,0,0,1,0

In [ ]:
class MLP:
    def __init__(self, layers, activation='sigmoid'):
        self.layers = layers
        self.activation = activation
        self.weights = []
        self.biases = []
        for i in range(1, len(layers)):
            self.weights.append(np.random.randn(layers[i-1], layers[i]))
            self.biases.append(np.random.randn(layers[i]))
    
    def sigmoid(self, x):
        return 1 / (1 + np.exp(-x))
    
    def relu(self, x):
        return np.maximum(0, x)
    
    def softmax(self, x):
        exp_x = np.exp(x)
        return exp_x / np.sum(exp_x, axis=1, keepdims=True)
    
    def forward(self, x):
        a = x
        for i in range(len(self.layers)-1):
            z = np.dot(a, self.weights[i]) + self.biases[i]
            if self.activation == 'sigmoid':
                a = self.sigmoid(z)
            elif self.activation == 'relu':
                a = self.relu(z)
            else:
                raise ValueError('Invalid activation function.')
        return a
    
    def cross_entropy_loss(self, y_pred, y_true):
        m = y_true.shape[0]
        logp = -np.log(y_pred[np.arange(m), y_true.argmax(axis=1)])
        loss = np.sum(logp) / m
        return loss
    
    def backward(self, x, y_true, y_pred, learning_rate):
        m = y_true.shape[0]
        dz = y_pred - y_true
        for i in range(len(self.layers)-2, -1, -1):
            dw = np.dot(self.layers[i], dz) / m
            db = np.mean(dz, axis=0)
            if self.activation == 'sigmoid':
                dz = np.dot(dz, self.weights[i].T) * self.sigmoid(self.layers[i], derivative=True)
            elif self.activation == 'relu':
                dz = np.dot(dz, self.weights[i].T) * self.relu(self.layers[i], derivative=True)
            self.weights[i] -= learning_rate * dw
            self.biases[i] -= learning_rate * db
    
    def train(self, X, y, learning_rate=0.1, epochs=1000):
        for epoch in range(epochs):
            y_pred = self.forward(X)
            loss = self.cross_entropy_loss(y_pred, y)
            if epoch % 100 == 0:
                print(f"Epoch {epoch}, Loss: {loss}")
            self.backward(X, y, y_pred, learning_rate)
    
    def predict(self, X):
        y_pred = self.forward(X)
        return np.argmax(y_pred, axis=1)

X_train, X_test, y_train, y_test = train_test_split(df, label, test_size=0.2, random_state=42)

mlp = MLP(layers=[34, 81412], activation='sigmoid')
mlp.train(X_train, y_train, learning_rate=0.1, epochs=1000)